Mail Parser.json
{
  "name": "Mail Parser",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        448,
        -240
      ],
      "id": "00c9a164-e518-4f8e-abfb-28349f1f7162",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "inbound_receipts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.receipt_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        672,
        -240
      ],
      "id": "01fd09fe-190d-460d-a5ab-0efbeede02cf",
      "name": "Fetch Mail Content",
      "credentials": {
        "supabaseApi": {
          "id": "JJwxg7Xid1eWbZvA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c9c9d62d-7815-4a66-b035-15855aa0630e",
              "leftValue": "={{ ['parsed','ignored'].includes($json.parser_status) || !!$json.parser_run_id || !!$json.processed_at || !!$json.last_parser_run_id }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        -240
      ],
      "id": "57e93c67-2d21-4900-a609-078d599cb495",
      "name": "Already Parsed"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript) - NormalizeText\n// Input: items[] where each item.json is an inbound_receipts row\n// Output: same items with normalized_text, input_hash, input_excerpt, normalize_debug\n\nconst crypto = require('crypto');\n\nfunction htmlToText(html) {\n  if (!html) return '';\n  let t = html;\n\n  t = t.replace(/<script[\\s\\S]*?<\\/script>/gi, ' ');\n  t = t.replace(/<style[\\s\\S]*?<\\/style>/gi, ' ');\n\n  t = t.replace(/<(br|br\\/)\\s*>/gi, '\\n');\n  t = t.replace(/<\\/(p|div|tr|li|h1|h2|h3|h4|h5|h6|table)>/gi, '\\n');\n\n  t = t.replace(/<a [^>]*href=\"([^\"]+)\"[^>]*>([\\s\\S]*?)<\\/a>/gi, (m, href, inner) => {\n    const innerText = inner.replace(/<[^>]+>/g, '').trim();\n    if (!innerText) return href;\n    return innerText;\n  });\n\n  t = t.replace(/<[^>]+>/g, ' ');\n\n  t = t\n    .replace(/&nbsp;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/&lt;/gi, '<')\n    .replace(/&gt;/gi, '>')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&quot;/gi, '\"');\n\n  return t;\n}\n\nfunction normalizeWhitespace(text) {\n  let t = (text || '').replace(/\\r\\n/g, '\\n').replace(/\\r/g, '\\n');\n  t = t.split('\\n').map(l => l.replace(/[ \\t]+$/g, '')).join('\\n');\n  t = t.replace(/\\n{3,}/g, '\\n\\n');\n  return t.trim();\n}\n\n/**\n * If the message contains one or more \"Forwarded message\" blocks,\n * keep the innermost (last) forwarded content.\n */\nfunction extractInnermostForwarded(text) {\n  if (!text) return '';\n\n  const markerRe = /^-{5,}\\s*Forwarded message\\s*-{5,}$/gim;\n  const matches = [...text.matchAll(markerRe)];\n  if (matches.length === 0) return text;\n\n  const last = matches[matches.length - 1];\n  const startIdx = (last && typeof last.index === 'number') ? last.index : 0;\n  const tail = text.slice(startIdx);\n\n  // If the tail doesn't look like a receipt/subscription notice, fall back.\n  const signalRe = /(receipt|order summary|invoice|subscription|renewed|total paid|billed to)/i;\n  if (!signalRe.test(tail)) return text;\n\n  return tail;\n}\n\n/**\n * Remove the leading forward/reply header stanza (\"From:\", \"Date:\", \"Subject:\", \"To:\")\n * near the top of the message (often repeated by Gmail forwards).\n */\nfunction stripLeadingForwardHeaders(text) {\n  if (!text) return '';\n\n  const lines = text.split('\\n');\n  let i = 0;\n\n  // Skip the forwarded marker if present\n  if (/^-{5,}\\s*Forwarded message\\s*-{5,}$/i.test((lines[0] || '').trim())) i = 1;\n\n  // Remove a short run of \"From/Date/Subject/To\" lines at the top\n  let removedAny = false;\n  while (i < Math.min(lines.length, 20)) {\n    const line = (lines[i] || '').trim();\n    if (!line) { i++; continue; }\n\n    if (/^(From|Date|Subject|To):\\s/i.test(line)) {\n      removedAny = true;\n      i++;\n      continue;\n    }\n    break;\n  }\n\n  if (!removedAny) return text;\n\n  // Also drop blank lines after headers\n  while (i < lines.length && !lines[i].trim()) i++;\n\n  return lines.slice(i).join('\\n');\n}\n\nfunction stripQuotedChains(text) {\n  if (!text) return '';\n\n  const lines = text.split('\\n');\n\n  const cutPatterns = [\n    /^On .+wrote:$/i,\n    /^-+Original Message-+$/i,\n    /^_{5,}$/i,\n    /^>+/,\n  ];\n\n  let cutIndex = -1;\n\n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i].trim();\n    if (!line) continue;\n\n    // Gmail forwarded header\n    if (/^-{5,}\\s*Forwarded message\\s*-{5,}$/i.test(line)) {\n      // Keep forwarded content (often what we want), so do NOT cut here.\n      continue;\n    }\n\n    // Typical reply header blocks: \"On ... wrote:\" later in the email\n    if (cutPatterns.some(re => re.test(line)) && i > 20) {\n      cutIndex = i;\n      break;\n    }\n\n    // If we hit a classic multi-line reply header set later (From/Sent/To/Subject),\n    // cut only if it appears deep in the message.\n    if (i > 25 && /^(From|Sent|To|Subject):\\s/i.test(line)) {\n      cutIndex = i;\n      break;\n    }\n  }\n\n  if (cutIndex >= 0) return lines.slice(0, cutIndex).join('\\n');\n  return text;\n}\n\nfunction removeCommonBoilerplate(text) {\n  if (!text) return '';\n\n  const boilerplatePatterns = [\n    /unsubscribe/i,\n    /manage your (email )?preferences/i,\n    /view (this|email) in (a )?browser/i,\n    /privacy policy/i,\n    /terms (and|&) conditions/i,\n    /all rights reserved/i,\n    /do not reply/i,\n  ];\n\n  const lines = text.split('\\n');\n  const kept = [];\n\n  for (const raw of lines) {\n    const line = raw.trim();\n\n    if (line.length > 240 && /^https?:\\/\\//i.test(line)) continue;\n\n    const urlCount = (line.match(/https?:\\/\\//gi) || []).length;\n    if (urlCount >= 2 && line.length > 120) continue;\n\n    if (line.length < 140 && boilerplatePatterns.some(re => re.test(line))) continue;\n\n    kept.push(raw);\n  }\n\n  return kept.join('\\n');\n}\n\nfunction stripSignatureBlock(text) {\n  if (!text) return '';\n\n  const lines = text.split('\\n');\n  const sigMarkers = [\n    /^--\\s*$/,\n    /^sent from my/i,\n    /^best,?$/i,\n    /^thanks,?$/i,\n    /^regards,?$/i,\n    /^sincerely,?$/i,\n  ];\n\n  for (let i = 10; i < lines.length; i++) {\n    const line = lines[i].trim();\n    if (sigMarkers.some(re => re.test(line))) {\n      return lines.slice(0, i).join('\\n');\n    }\n  }\n  return text;\n}\n\nfunction compact(text, maxChars) {\n  if (!text) return '';\n  if (text.length <= maxChars) return text;\n\n  const slice = text.slice(0, maxChars);\n  const lastBreak = Math.max(slice.lastIndexOf('\\n\\n'), slice.lastIndexOf('\\n'));\n  if (lastBreak > maxChars * 0.7) return slice.slice(0, lastBreak).trim();\n  return slice.trim();\n}\n\nconst MAX_CHARS = 12000;\n\nreturn items.map((item) => {\n  const row = item.json || {};\n\n  // Choose base text\n  let baseText = (row.body_text && String(row.body_text).trim()) ? String(row.body_text) : '';\n  if (!baseText && row.body_html) {\n    baseText = htmlToText(String(row.body_html));\n  }\n\n  baseText = normalizeWhitespace(baseText);\n\n  // Prefer the innermost forwarded receipt content (Gmail forwards often nest twice)\n  baseText = extractInnermostForwarded(baseText);\n  baseText = stripLeadingForwardHeaders(baseText);\n\n  let cleaned = stripQuotedChains(baseText);\n\n  cleaned = removeCommonBoilerplate(cleaned);\n  cleaned = stripSignatureBlock(cleaned);\n\n  cleaned = normalizeWhitespace(cleaned);\n\n  // Prepend minimal metadata to help downstream extraction (prototype-critical)\n  const headerLines = [\n    row.subject ? `Subject: ${String(row.subject).trim()}` : null,\n    row.from_email ? `From: ${String(row.from_email).trim()}` : null,\n    row.from_domain ? `From-Domain: ${String(row.from_domain).trim()}` : null,\n    row.to_email ? `To: ${String(row.to_email).trim()}` : null,\n  ].filter(Boolean).join('\\n');\n\n  const normalized_body = compact(cleaned, MAX_CHARS);\n  const normalized_text = headerLines ? `${headerLines}\\n\\n${normalized_body}` : normalized_body;\n\n  const input_hash = crypto.createHash('sha256').update(normalized_text || '', 'utf8').digest('hex');\n  const input_excerpt = (normalized_text || '').slice(0, 800);\n\n  return {\n    json: {\n      ...row,\n      normalized_text,\n      input_hash,\n      input_excerpt,\n      normalize_debug: {\n        had_body_text: !!(row.body_text && String(row.body_text).trim()),\n        had_body_html: !!(row.body_html && String(row.body_html).trim()),\n        original_len: baseText.length,\n        normalized_len: normalized_text.length,\n        max_chars: MAX_CHARS,\n        used_innermost_forwarded: true,\n      },\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -16
      ],
      "id": "4e16a416-6418-4918-8d59-018ab34b81c6",
      "name": "Normalize Text"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        976,
        128
      ],
      "id": "f6bddedc-f11b-4bba-8eda-b109fdd885ac",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "AxGURsBOn7Outeqw",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.body_text }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"$id\": \"https://subsounder.com/schemas/mail_parser_extract_sub_detail.schema.json\",\n  \"title\": \"Mail Parser - Extract Sub Detail\",\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"required\": [\n    \"classification\",\n    \"confidence\",\n    \"merchant\",\n    \"service\",\n    \"subscription\",\n    \"cycle_candidate\",\n    \"products\",\n    \"identifiers\",\n    \"evidence\"\n  ],\n  \"properties\": {\n    \"classification\": {\n      \"type\": \"string\",\n      \"enum\": [\"subscription\", \"maybe_subscription\", \"not_subscription\", \"spam\"]\n    },\n    \"confidence\": {\n      \"type\": [\"number\", \"null\"],\n      \"minimum\": 0,\n      \"maximum\": 1\n    },\n\n    \"merchant\": {\n      \"description\": \"The apparent sender of the email (as observed in the message). For forwarded emails, this may reflect the original sender in the forwarded header block.\",\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"display_name\", \"sender_domain\"],\n      \"properties\": {\n        \"display_name\": { \"type\": [\"string\", \"null\"] },\n        \"sender_domain\": { \"type\": [\"string\", \"null\"] }\n      }\n    },\n\n    \"billed_by\": {\n      \"description\": \"The marketplace/payment processor/platform billing the user (e.g., Apple App Store, Google Play, Stripe, PayPal). Null if not clearly distinct from the service.\",\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"display_name\", \"sender_domain\"],\n      \"properties\": {\n        \"display_name\": { \"type\": [\"string\", \"null\"] },\n        \"sender_domain\": { \"type\": [\"string\", \"null\"] }\n      }\n    },\n\n    \"service\": {\n      \"description\": \"The actual subscription the user cares about (app/SaaS/provider). For Apple/Google marketplace emails, this should be the app/provider (e.g., SailFlow), not Apple/Google.\",\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"display_name\", \"provider_name\", \"provider_domain\"],\n      \"properties\": {\n        \"display_name\": {\n          \"description\": \"User-facing name of the service/app/subscription (e.g., 'SailFlow: Marine Forecasts').\",\n          \"type\": [\"string\", \"null\"]\n        },\n        \"provider_name\": {\n          \"description\": \"Company/developer/provider behind the service if stated (may be null).\",\n          \"type\": [\"string\", \"null\"]\n        },\n        \"provider_domain\": {\n          \"description\": \"Provider domain if stated or strongly implied (may be null). Do not guess.\",\n          \"type\": [\"string\", \"null\"]\n        }\n      }\n    },\n\n    \"subscription\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\n        \"display_name\",\n        \"plan_name\",\n        \"status\",\n        \"billing_cadence\",\n        \"amount\",\n        \"currency\",\n        \"next_renewal_at\",\n        \"last_billed_at\",\n        \"cancel_by_at\",\n        \"trial_ends_at\",\n        \"notes\"\n      ],\n      \"properties\": {\n        \"display_name\": {\n          \"description\": \"Display name for this subscription record. Prefer the service.display_name; may include plan duration hints if present.\",\n          \"type\": [\"string\", \"null\"]\n        },\n        \"plan_name\": {\n          \"description\": \"Plan/tier name (e.g., 'Pro', 'Premium', 'Plus', 'Family'). Null if not present.\",\n          \"type\": [\"string\", \"null\"]\n        },\n        \"status\": { \"type\": [\"string\", \"null\"] },\n        \"billing_cadence\": { \"type\": [\"string\", \"null\"] },\n        \"amount\": {\n          \"description\": \"Prefer numeric. If extraction yields a string like 'US$165.14', downstream code should normalize.\",\n          \"type\": [\"number\", \"string\", \"null\"]\n        },\n        \"currency\": {\n          \"description\": \"Prefer ISO 4217 (e.g., USD). If symbol detected (e.g., US$), downstream code should normalize.\",\n          \"type\": [\"string\", \"null\"],\n          \"minLength\": 1\n        },\n        \"next_renewal_at\": {\n          \"description\": \"ISO 8601 timestamp if known, else null.\",\n          \"type\": [\"string\", \"null\"],\n          \"format\": \"date-time\"\n        },\n        \"last_billed_at\": {\n          \"description\": \"ISO 8601 timestamp if known, else null.\",\n          \"type\": [\"string\", \"null\"],\n          \"format\": \"date-time\"\n        },\n        \"cancel_by_at\": {\n          \"description\": \"ISO 8601 timestamp if known, else null.\",\n          \"type\": [\"string\", \"null\"],\n          \"format\": \"date-time\"\n        },\n        \"trial_ends_at\": {\n          \"description\": \"ISO 8601 timestamp if known, else null.\",\n          \"type\": [\"string\", \"null\"],\n          \"format\": \"date-time\"\n        },\n        \"notes\": { \"type\": [\"string\", \"null\"] }\n      }\n    },\n\n    \"cycle_candidate\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\n        \"has_cycle_signal\",\n        \"cycle_type\",\n        \"billing_cadence\",\n        \"amount\",\n        \"currency\",\n        \"start_at\",\n        \"end_at\",\n        \"notes\"\n      ],\n      \"properties\": {\n        \"has_cycle_signal\": { \"type\": \"boolean\" },\n        \"cycle_type\": { \"type\": [\"string\", \"null\"] },\n        \"billing_cadence\": { \"type\": [\"string\", \"null\"] },\n        \"amount\": {\n          \"description\": \"Prefer numeric. If extraction yields a string like 'US$165.14', downstream code should normalize.\",\n          \"type\": [\"number\", \"string\", \"null\"]\n        },\n        \"currency\": {\n          \"description\": \"Prefer ISO 4217 (e.g., USD). If symbol detected (e.g., US$), downstream code should normalize.\",\n          \"type\": [\"string\", \"null\"],\n          \"minLength\": 1\n        },\n        \"start_at\": {\n          \"description\": \"ISO 8601 timestamp if known, else null.\",\n          \"type\": [\"string\", \"null\"],\n          \"format\": \"date-time\"\n        },\n        \"end_at\": {\n          \"description\": \"ISO 8601 timestamp if known, else null.\",\n          \"type\": [\"string\", \"null\"],\n          \"format\": \"date-time\"\n        },\n        \"notes\": { \"type\": [\"string\", \"null\"] }\n      }\n    },\n\n    \"products\": {\n      \"description\": \"Line items/products found in the email. Use null if truly no product-level info exists.\",\n      \"type\": [\"array\", \"null\"],\n      \"maxItems\": 25,\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"required\": [\n          \"item_name\",\n          \"item_type\",\n          \"service_identifier\",\n          \"quantity\",\n          \"unit_price\",\n          \"total_price\",\n          \"currency\",\n          \"period_start_at\",\n          \"period_end_at\",\n          \"sku\",\n          \"notes\"\n        ],\n        \"properties\": {\n          \"item_name\": {\n            \"description\": \"The product/line-item name (e.g., 'Pro Plan', '.blog Domain Registration').\",\n            \"type\": [\"string\", \"null\"]\n          },\n          \"item_type\": {\n            \"description\": \"Coarse type (e.g., plan, domain, add_on, one_time, unknown).\",\n            \"type\": [\"string\", \"null\"]\n          },\n          \"service_identifier\": {\n            \"description\": \"Domain/site/app/workspace identifier tied to the item (e.g., 'thebespokehome.blog').\",\n            \"type\": [\"string\", \"null\"]\n          },\n          \"quantity\": { \"type\": [\"number\", \"null\"] },\n          \"unit_price\": { \"type\": [\"number\", \"string\", \"null\"] },\n          \"total_price\": { \"type\": [\"number\", \"string\", \"null\"] },\n          \"currency\": {\n            \"type\": [\"string\", \"null\"],\n            \"minLength\": 1\n          },\n          \"period_start_at\": { \"type\": [\"string\", \"null\"], \"format\": \"date-time\" },\n          \"period_end_at\": { \"type\": [\"string\", \"null\"], \"format\": \"date-time\" },\n          \"sku\": { \"type\": [\"string\", \"null\"] },\n          \"notes\": { \"type\": [\"string\", \"null\"] }\n        }\n      }\n    },\n\n    \"identifiers\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"order_number\", \"invoice_number\", \"subscription_id\", \"account_email\"],\n      \"properties\": {\n        \"order_number\": { \"type\": [\"string\", \"null\"] },\n        \"invoice_number\": { \"type\": [\"string\", \"null\"] },\n        \"subscription_id\": { \"type\": [\"string\", \"null\"] },\n        \"account_email\": {\n          \"type\": [\"string\", \"null\"],\n          \"format\": \"email\"\n        }\n      }\n    },\n\n    \"evidence\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\"high_signal_quotes\"],\n      \"properties\": {\n        \"high_signal_quotes\": {\n          \"description\": \"Short verbatim snippets (<= ~20 words each) supporting key extracted fields.\",\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" },\n          \"maxItems\": 12\n        }\n      }\n    }\n  }\n}",
        "options": {
          "systemPromptTemplate": "=You are an expert extraction algorithm for subscription/commerce emails.\n\nGoal:\nExtract structured subscription details from the provided email text, including cases where a platform bills on behalf of another provider (e.g., Apple/Google/Stripe), AND extract product/line-item details (what exactly was purchased/renewed).\n\nRules:\n- Only extract information supported by the text.\n- If you do not know a value, return null.\n- Distinguish between:\n  1) service: what the user is subscribed to (the app/SaaS/provider the user thinks they pay for)\n  2) billed_by: who is billing/sending on behalf of the service (platform/payment processor/marketplace)\n- For forwarded emails, the forwarded header block (e.g., \"From: Apple <...@email.apple.com>\") is relevant evidence for billed_by.\n- Extract products/line items:\n  - Each product is a specific billable item (e.g., \"Pro Plan\", \"Domain Registration\", \"Extra Storage\").\n  - If the email includes a site/app identifier (domain, workspace, account handle, app name, bundle id), capture it on the product row as service_identifier.\n  - If the email includes a coverage period (e.g., “Payment for Feb 22, 2025 to Feb 22, 2026”), set period_start_at / period_end_at.\n  - If there is only one clear line item, products should contain exactly one entry.\n- Keep evidence quotes short (<= ~20 words).\n- Use ISO 8601 timestamps when possible; if only a date is given, convert to an ISO 8601 timestamp at 00:00:00Z.\n\nReturn JSON that strictly matches the provided JSON schema."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        896,
        -16
      ],
      "id": "8822c8df-6eac-4ceb-949a-eabe8d22262e",
      "name": "Extract Subscription Info",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node: ValidateExtract (minimal, prototype-friendly)\n//\n// Input: items[].json.output (object)\n// Output adds:\n//   - extract (cleaned, same as output)\n//   - extract_valid (boolean)\n//   - extract_errors (string[])\n//   - parser_run_status_suggested ('success'|'partial'|'no_signal'|'error')\n\nconst ALLOWED_CLASSIFICATIONS = new Set([\"subscription\", \"maybe_subscription\", \"not_subscription\", \"spam\"]);\nconst ALLOWED_RUN_STATUS = new Set([\"success\", \"partial\", \"no_signal\", \"error\", \"skipped\"]);\n\nfunction clamp01OrNull(v) {\n  if (v === null || v === undefined) return null;\n  if (typeof v !== \"number\" || Number.isNaN(v)) return null;\n  if (v < 0) return 0;\n  if (v > 1) return 1;\n  return v;\n}\n\nfunction isIsoDateTimeString(s) {\n  if (typeof s !== \"string\") return false;\n  return /^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(\\.\\d+)?(Z|[+\\-]\\d{2}:\\d{2})$/.test(s.trim());\n}\n\nfunction normalizeDateTimeOrNull(v, errors, path) {\n  if (v === null || v === undefined) return null;\n  if (typeof v !== \"string\") {\n    errors.push(`${path}: expected ISO date-time string or null`);\n    return null;\n  }\n  const t = v.trim();\n  if (!t) return null;\n  if (!isIsoDateTimeString(t)) {\n    errors.push(`${path}: not ISO 8601 date-time; set to null`);\n    return null;\n  }\n  return t;\n}\n\nfunction suggestStatus(classification, hasErrors) {\n  if (!ALLOWED_CLASSIFICATIONS.has(classification)) return \"error\";\n  if (classification === \"not_subscription\" || classification === \"spam\") return \"no_signal\";\n  return hasErrors ? \"partial\" : \"success\";\n}\n\nreturn items.map((item) => {\n  const root = item.json || {};\n  const raw = root.output;\n\n  const extract_errors = [];\n\n  if (!raw || typeof raw !== \"object\") {\n    extract_errors.push(\"Missing or invalid `output` object from extractor.\");\n    return {\n      json: {\n        ...root,\n        extract: null,\n        extract_valid: false,\n        extract_errors,\n        parser_run_status_suggested: \"error\",\n      },\n    };\n  }\n\n  const classification = raw.classification;\n  if (!ALLOWED_CLASSIFICATIONS.has(classification)) {\n    extract_errors.push(`classification: must be one of ${Array.from(ALLOWED_CLASSIFICATIONS).join(\", \")}`);\n  }\n\n  // Confidence is optional; clamp for safety\n  const confidence = clamp01OrNull(raw.confidence);\n\n  // Normalize only the date-time fields you care about right now\n  if (!raw.subscription || typeof raw.subscription !== \"object\") {\n    extract_errors.push(\"subscription: expected object\");\n  } else {\n    raw.subscription.last_billed_at = normalizeDateTimeOrNull(\n      raw.subscription.last_billed_at ?? null,\n      extract_errors,\n      \"subscription.last_billed_at\"\n    );\n    raw.subscription.next_renewal_at = normalizeDateTimeOrNull(\n      raw.subscription.next_renewal_at ?? null,\n      extract_errors,\n      \"subscription.next_renewal_at\"\n    );\n    raw.subscription.cancel_by_at = normalizeDateTimeOrNull(\n      raw.subscription.cancel_by_at ?? null,\n      extract_errors,\n      \"subscription.cancel_by_at\"\n    );\n    raw.subscription.trial_ends_at = normalizeDateTimeOrNull(\n      raw.subscription.trial_ends_at ?? null,\n      extract_errors,\n      \"subscription.trial_ends_at\"\n    );\n  }\n\n  // OPTIONAL: products (line items). Keep optional + tolerant.\n  // If extractor omits it, we leave it undefined (or set to null if you prefer).\n  if (raw.products !== undefined) {\n    if (raw.products !== null && !Array.isArray(raw.products)) {\n      extract_errors.push(\"products: expected array or null; set to null\");\n      raw.products = null;\n    }\n\n    if (Array.isArray(raw.products)) {\n      // Avoid runaway payloads\n      if (raw.products.length > 25) {\n        extract_errors.push(\"products: >25 items; truncating to 25\");\n        raw.products = raw.products.slice(0, 25);\n      }\n\n      raw.products = raw.products\n        .map((p, idx) => {\n          const path = `products[${idx}]`;\n          if (!p || typeof p !== \"object\") {\n            extract_errors.push(`${path}: expected object; dropped`);\n            return null;\n          }\n\n          // Normalize per-item period timestamps if present\n          if (\"period_start_at\" in p) {\n            p.period_start_at = normalizeDateTimeOrNull(\n              p.period_start_at ?? null,\n              extract_errors,\n              `${path}.period_start_at`\n            );\n          }\n          if (\"period_end_at\" in p) {\n            p.period_end_at = normalizeDateTimeOrNull(\n              p.period_end_at ?? null,\n              extract_errors,\n              `${path}.period_end_at`\n            );\n          }\n\n          return p;\n        })\n        .filter(Boolean);\n    }\n  }\n\n  // Emit cleaned extract\n  const extract = {\n    ...raw,\n    confidence,\n  };\n\n  const extract_valid = ALLOWED_CLASSIFICATIONS.has(extract.classification);\n  const parser_run_status_suggested = suggestStatus(extract.classification, extract_errors.length > 0);\n  const finalSuggested = ALLOWED_RUN_STATUS.has(parser_run_status_suggested) ? parser_run_status_suggested : \"error\";\n\n  return {\n    json: {\n      extract,\n      extract_valid,\n      extract_errors,\n      parser_run_status_suggested: finalSuggested,\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        240
      ],
      "id": "35207363-8f42-4600-bfd6-45cd8cf62dde",
      "name": "Validate Extract"
    },
    {
      "parameters": {
        "tableId": "parser_runs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.parser_run_status_suggested }}"
            },
            {
              "fieldId": "classification",
              "fieldValue": "={{ $json.extract.classification }}"
            },
            {
              "fieldId": "confidence",
              "fieldValue": "={{ $json.extract.confidence }}"
            },
            {
              "fieldId": "output_json",
              "fieldValue": "={{ $json.extract }}"
            },
            {
              "fieldId": "parser_name",
              "fieldValue": "mail_parser"
            },
            {
              "fieldId": "parser_version",
              "fieldValue": "0.1"
            },
            {
              "fieldId": "inbound_receipt_id",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.receipt_id }}"
            },
            {
              "fieldId": "pod_id",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.pod_id }}"
            },
            {
              "fieldId": "source_type",
              "fieldValue": "inbound_receipt"
            },
            {
              "fieldId": "source_ref",
              "fieldValue": "={{ $('Fetch Mail Content').item.json.message_id }}"
            },
            {
              "fieldId": "model_name",
              "fieldValue": "gpt-4.1-mini"
            },
            {
              "fieldId": "input_hash",
              "fieldValue": "={{ $('Normalize Text').item.json.input_hash }}"
            },
            {
              "fieldId": "input_excerpt",
              "fieldValue": "={{ $('Normalize Text').item.json.input_excerpt }}"
            },
            {
              "fieldId": "prompt_version",
              "fieldValue": "0.1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        896,
        240
      ],
      "id": "734fc79b-c90c-441f-b1a3-14968f3f9ba5",
      "name": "Log Run",
      "credentials": {
        "supabaseApi": {
          "id": "JJwxg7Xid1eWbZvA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\nUpdate model name if changed",
        "height": 144,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        304
      ],
      "id": "23f860d7-b92a-4bdf-88d2-402f82eecb39",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "subscriptions",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "pod_id",
              "condition": "eq",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.pod_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1328,
        -16
      ],
      "id": "0bfa3c90-76a3-48e2-9281-071dadd2b662",
      "name": "Fetch Pod Subscriptions",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "JJwxg7Xid1eWbZvA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * DecideSubsWrite (DSW) — Drop-in (Option B + content_date-aware updates)\n *\n * What changed vs your current DSW:\n * - Sets last_observed_content_date from Fetch Mail Content.json.content_date (preferred) or received_at fallback.\n * - Update policy:\n *    - If parsed_doc is NEWER than matched sub's last_observed_content_date -> update ALL available (non-empty) fields.\n *    - If parsed_doc is OLDER (or equal) -> update ONLY fields that are missing on the existing record.\n *\n * Existing subs source: \"Fetch Pod Subscriptions\" (items)\n * Parsed extract source: \"Validate Extract\" (preferred) else \"Extract Subscription Info\"\n * Mail content (for content_date): \"Fetch Mail Content\"\n *\n * Output shape:\n * [{ action, matched_subscription_id, subscription_create, subscription_update, cycle_action, cycle_create, debug, __diag_dsw }]\n */\n\nfunction norm(s) {\n  return (s ?? \"\").toString().trim().toLowerCase();\n}\nfunction stripPunct(s) {\n  return norm(s).replace(/[^\\p{L}\\p{N}]+/gu, \" \").replace(/\\s+/g, \" \").trim();\n}\nfunction toDate(d) {\n  if (!d) return null;\n  const x = new Date(d);\n  return isNaN(x) ? null : x;\n}\nfunction safeNum(x) {\n  if (x === null || x === undefined || x === \"\") return null;\n  const n = Number(x);\n  return Number.isFinite(n) ? n : null;\n}\nfunction round2(n) {\n  return typeof n === \"number\" ? Math.round(n * 100) / 100 : n;\n}\nfunction pickFirstNonEmpty(arr) {\n  for (const v of arr) if (v !== null && v !== undefined && v !== \"\") return v;\n  return null;\n}\nfunction summarizeExisting(s) {\n  return {\n    id: s?.id ?? null,\n    display_name: s?.display_name ?? null,\n    plan_name: s?.plan_name ?? null,\n    provider_domain: s?.provider_domain ?? null,\n    billed_by_domain: s?.billed_by_domain ?? null,\n    billing_cadence: s?.billing_cadence ?? null,\n    amount: s?.amount ?? null,\n    currency: s?.currency ?? null,\n    next_renewal_at: s?.next_renewal_at ?? null,\n    last_billed_at: s?.last_billed_at ?? null,\n    last_observed_content_date: s?.last_observed_content_date ?? null,\n    status: s?.status ?? null,\n  };\n}\n\nfunction makeMatchKey(obj) {\n  const a = stripPunct(obj?.provider_domain);\n  const b = stripPunct(obj?.billed_by_domain);\n  const c = stripPunct(obj?.display_name);\n  const d = stripPunct(obj?.plan_name);\n\n  const left = pickFirstNonEmpty([a, b, null]);\n  const right = pickFirstNonEmpty([d, null]) || \"\";\n  if (left) return stripPunct(`${left} ${right}`.trim());\n  return stripPunct(`${c} ${d}`.trim());\n}\n\nfunction scoreCandidate(parsed, existing) {\n  let score = 0;\n  const reasons = [];\n\n  const pProvider = stripPunct(parsed?.provider_domain);\n  const pBilled = stripPunct(parsed?.billed_by_domain);\n  const pName = stripPunct(parsed?.display_name);\n  const pPlan = stripPunct(parsed?.plan_name);\n\n  const eProvider = stripPunct(existing?.provider_domain);\n  const eBilled = stripPunct(existing?.billed_by_domain);\n  const eName = stripPunct(existing?.display_name);\n  const ePlan = stripPunct(existing?.plan_name);\n\n  if (pProvider && eProvider && pProvider === eProvider) {\n    score += 55; reasons.push(\"provider_domain exact\");\n  }\n  if (pBilled && eBilled && pBilled === eBilled) {\n    score += 45; reasons.push(\"billed_by_domain exact\");\n  }\n\n  if (pProvider && eBilled && pProvider === eBilled) {\n    score += 35; reasons.push(\"provider_domain == existing billed_by_domain\");\n  }\n  if (pBilled && eProvider && pBilled === eProvider) {\n    score += 35; reasons.push(\"billed_by_domain == existing provider_domain\");\n  }\n\n  const tokenSet = (s) => new Set(stripPunct(s).split(\" \").filter(Boolean));\n  const overlap = (a, b) => {\n    const A = tokenSet(a), B = tokenSet(b);\n    if (!A.size || !B.size) return 0;\n    let inter = 0;\n    for (const t of A) if (B.has(t)) inter++;\n    return inter / Math.max(A.size, B.size);\n  };\n\n  const nameOv = overlap(pName, eName);\n  if (nameOv >= 0.7) { score += 30; reasons.push(`display_name overlap ${nameOv.toFixed(2)}`); }\n  else if (nameOv >= 0.5) { score += 20; reasons.push(`display_name overlap ${nameOv.toFixed(2)}`); }\n  else if (nameOv >= 0.35) { score += 10; reasons.push(`display_name overlap ${nameOv.toFixed(2)}`); }\n\n  const planOv = overlap(pPlan, ePlan);\n  if (pPlan && ePlan) {\n    if (planOv >= 0.7) { score += 20; reasons.push(`plan_name overlap ${planOv.toFixed(2)}`); }\n    else if (planOv >= 0.5) { score += 12; reasons.push(`plan_name overlap ${planOv.toFixed(2)}`); }\n    else if (planOv >= 0.35) { score += 6; reasons.push(`plan_name overlap ${planOv.toFixed(2)}`); }\n  }\n\n  const pc = norm(parsed?.currency);\n  const ec = norm(existing?.currency);\n  if (pc && ec && pc === ec) { score += 5; reasons.push(\"currency match\"); }\n\n  const pa = safeNum(parsed?.amount);\n  const ea = safeNum(existing?.amount);\n  if (pa !== null && ea !== null) {\n    const diff = Math.abs(pa - ea);\n    if (diff < 0.01) { score += 8; reasons.push(\"amount exact\"); }\n    else if (diff <= 0.5) { score += 4; reasons.push(`amount near (Δ${diff.toFixed(2)})`); }\n  }\n\n  return { score: Math.min(100, score), reasons };\n}\n\nfunction chooseParsedItem() {\n  const tryNodes = [\"Validate Extract\", \"Extract Subscription Info\"];\n  for (const n of tryNodes) {\n    try {\n      const items = $items(n);\n      if (items && items.length) return { sourceNode: n, json: items[0].json, count: items.length };\n    } catch (_) {}\n  }\n  return { sourceNode: null, json: null, count: 0 };\n}\n\nfunction extractParsedSubscription(parsedPick) {\n  const root = parsedPick?.json;\n  if (!root) return { parsedSub: null, classification: null, rootKeys: [] };\n\n  const rootKeys = Object.keys(root);\n\n  // Validate Extract shape: { extract: { ... } }\n  if (root.extract && typeof root.extract === \"object\") {\n    const ex = root.extract;\n    const sub = ex.subscription || {};\n    const service = ex.service || {};\n    const billed = ex.billed_by || {};\n    const merchant = ex.merchant || {};\n\n    const parsedSub = {\n      pod_id: null, // filled later from mail content\n      display_name: sub.display_name ?? service.display_name ?? null,\n      plan_name: sub.plan_name ?? null,\n      provider_name: service.provider_name ?? null,\n      provider_domain: service.provider_domain ?? null,\n      billed_by_name: billed.display_name ?? merchant.display_name ?? null,\n      billed_by_domain: billed.sender_domain ?? merchant.sender_domain ?? null,\n      status: sub.status ?? \"active\",\n      billing_cadence: sub.billing_cadence ?? null,\n      amount: sub.amount ?? null,\n      currency: sub.currency ?? null,\n      next_renewal_at: sub.next_renewal_at ?? null,\n      last_billed_at: sub.last_billed_at ?? null,\n      cancel_by_at: sub.cancel_by_at ?? null,\n      trial_ends_at: sub.trial_ends_at ?? null,\n      source: \"mailgun\",\n      confidence: ex.confidence ?? null,\n      notes: sub.notes ?? null,\n      reminder_enabled: true,\n      reminder_days: null,\n      notify_channels: [\"email\"],\n      last_observed_content_date: null, // set from mail content_date\n      last_source_receipt_id: null,     // leave null for now (or set later if you decide)\n      last_source_type: null,           // leave null for now (or set later if you decide)\n    };\n\n    return { parsedSub, classification: ex.classification ?? null, rootKeys, validate_extract_valid: root.extract_valid ?? null };\n  }\n\n  // Extract Subscription Info shape: { output: { ... } }\n  if (root.output && typeof root.output === \"object\") {\n    const ex = root.output;\n    const sub = ex.subscription || {};\n    const service = ex.service || {};\n    const billed = ex.billed_by || {};\n    const merchant = ex.merchant || {};\n\n    const parsedSub = {\n      pod_id: null,\n      display_name: sub.display_name ?? service.display_name ?? null,\n      plan_name: sub.plan_name ?? null,\n      provider_name: service.provider_name ?? null,\n      provider_domain: service.provider_domain ?? null,\n      billed_by_name: billed.display_name ?? merchant.display_name ?? null,\n      billed_by_domain: billed.sender_domain ?? merchant.sender_domain ?? null,\n      status: sub.status ?? \"active\",\n      billing_cadence: sub.billing_cadence ?? null,\n      amount: sub.amount ?? null,\n      currency: sub.currency ?? null,\n      next_renewal_at: sub.next_renewal_at ?? null,\n      last_billed_at: sub.last_billed_at ?? null,\n      cancel_by_at: sub.cancel_by_at ?? null,\n      trial_ends_at: sub.trial_ends_at ?? null,\n      source: \"mailgun\",\n      confidence: ex.confidence ?? null,\n      notes: sub.notes ?? null,\n      reminder_enabled: true,\n      reminder_days: null,\n      notify_channels: [\"email\"],\n      last_observed_content_date: null,\n      last_source_receipt_id: null,\n      last_source_type: null,\n    };\n\n    return { parsedSub, classification: ex.classification ?? null, rootKeys };\n  }\n\n  // Fallback: try to treat root as already-flattened subscription_create object\n  return { parsedSub: root, classification: root.classification ?? null, rootKeys };\n}\n\nfunction getExistingSubs() {\n  try {\n    const items = $items(\"Fetch Pod Subscriptions\");\n    return { sourceNode: \"Fetch Pod Subscriptions\", rows: items.map(i => i.json), count: items.length, error: null };\n  } catch (e) {\n    return { sourceNode: \"Fetch Pod Subscriptions\", rows: [], count: 0, error: String(e?.message ?? e) };\n  }\n}\n\nfunction getMailContent() {\n  try {\n    const items = $items(\"Fetch Mail Content\");\n    const mc = (items && items.length) ? items[0].json : null;\n    return { sourceNode: \"Fetch Mail Content\", json: mc, count: items?.length ?? 0, error: null };\n  } catch (e) {\n    return { sourceNode: \"Fetch Mail Content\", json: null, count: 0, error: String(e?.message ?? e) };\n  }\n}\n\nfunction isEmpty(v) {\n  return v === null || v === undefined || v === \"\";\n}\n\n// NEW: update policy based on doc recency\nfunction buildUpdatePolicy(existing, incoming, docDate) {\n  const existingLast = toDate(existing?.last_observed_content_date);\n  const incomingDoc = toDate(docDate);\n\n  // If no incoming doc date, default to \"update all non-empty\" (but we will still set last_observed_content_date if provided)\n  let mode = \"all_non_empty\";\n  if (incomingDoc && existingLast) {\n    if (incomingDoc > existingLast) mode = \"all_non_empty\";\n    else mode = \"missing_only\";\n  } else if (incomingDoc && !existingLast) {\n    mode = \"all_non_empty\";\n  } else if (!incomingDoc && existingLast) {\n    mode = \"missing_only\";\n  }\n\n  const fields = [\n    \"display_name\",\"plan_name\",\"provider_name\",\"provider_domain\",\n    \"billed_by_name\",\"billed_by_domain\",\"status\",\n    \"billing_cadence\",\"amount\",\"currency\",\n    \"next_renewal_at\",\"last_billed_at\",\"cancel_by_at\",\"trial_ends_at\",\n    \"source\",\"confidence\",\"notes\",\n    \"last_observed_content_date\",\"last_source_receipt_id\",\"last_source_type\",\n    \"reminder_enabled\",\"reminder_days\",\"notify_channels\",\n  ];\n\n  const upd = {};\n  for (const f of fields) {\n    const incomingVal = incoming?.[f];\n    if (mode === \"all_non_empty\") {\n      if (!isEmpty(incomingVal)) upd[f] = incomingVal;\n    } else {\n      // missing_only: only fill if existing is empty AND incoming has value\n      const existingVal = existing?.[f];\n      if (isEmpty(existingVal) && !isEmpty(incomingVal)) upd[f] = incomingVal;\n    }\n  }\n\n  // Always keep pod_id stable\n  if (existing?.pod_id) upd.pod_id = existing.pod_id;\n\n  // Always set last_observed_content_date if incomingDoc exists and:\n  // - mode = all_non_empty (doc newer) -> set it\n  // - mode = missing_only (doc older) -> only set if existing missing (handled above)\n  return { update: Object.keys(upd).length ? upd : null, mode, existingLast: existingLast?.toISOString?.() ?? null, incomingDoc: incomingDoc?.toISOString?.() ?? null };\n}\n\n// ----------------------------- main -----------------------------\nconst parsedPick = chooseParsedItem();\nconst existingPick = getExistingSubs();\nconst mailPick = getMailContent();\n\nconst parsedInfo = extractParsedSubscription(parsedPick);\nlet parsedSub = parsedInfo.parsedSub;\nconst classification = parsedInfo.classification;\n\nconst existingAll = existingPick.rows;\n\n// Determine docDate + pod_id from Fetch Mail Content\nconst mail = mailPick.json;\nconst docDate = mail?.content_date ?? mail?.received_at ?? null;\nconst podIdFromMail = mail?.pod_id ?? null;\n\nconst diagBase = {\n  parsed_source_node: parsedPick.sourceNode,\n  parsed_items_count: parsedPick.count,\n  existing_source_node: existingPick.sourceNode,\n  existing_items_count: existingPick.count,\n  existing_error: existingPick.error ?? null,\n  mail_source_node: mailPick.sourceNode,\n  mail_items_count: mailPick.count,\n  mail_error: mailPick.error ?? null,\n  mail_content_date: mail?.content_date ?? null,\n  mail_received_at: mail?.received_at ?? null,\n  validate_extract_valid: parsedInfo.validate_extract_valid ?? null,\n  parsed_root_keys: parsedInfo.rootKeys ?? [],\n};\n\nif (!parsedSub) {\n  return [{\n    action: \"skip\",\n    matched_subscription_id: null,\n    subscription_create: null,\n    subscription_update: null,\n    cycle_action: \"none\",\n    cycle_create: null,\n    debug: { classification: null, match_key: null, existing_count: existingAll.length, matched: false, threshold: null, top_score: null, top_reasons: [] },\n    __diag_dsw: { ...diagBase, error: \"No parsed item found from Validate Extract or Extract Subscription Info\" },\n  }];\n}\n\n// Set pod_id + last_observed_content_date from mail content\nparsedSub = {\n  ...parsedSub,\n  pod_id: parsedSub?.pod_id ?? podIdFromMail ?? null,\n  last_observed_content_date: parsedSub?.last_observed_content_date ?? docDate ?? null,\n};\n\n// Filter existing subs to same pod if possible\nconst parsedPodId = parsedSub?.pod_id ?? null;\nconst existingSamePod = parsedPodId\n  ? existingAll.filter(s => s?.pod_id === parsedPodId)\n  : existingAll;\n\nconst matchKey = makeMatchKey(parsedSub);\n\n// Score candidates\nconst scored = existingSamePod.map(s => {\n  const { score, reasons } = scoreCandidate(parsedSub, s);\n  return { sub: s, score, reasons };\n}).sort((a, b) => b.score - a.score);\n\nconst top = scored[0] ?? null;\nconst threshold = 60;\nconst matched = !!top && top.score >= threshold;\n\n// Cycle decision (unchanged from your current DSW)\nconst pLast = toDate(parsedSub?.last_billed_at);\nconst pNext = toDate(parsedSub?.next_renewal_at);\nlet cycle_action = \"none\";\nlet cycle_create = null;\n\nif (pLast && pNext && pNext > pLast) {\n  const cycleType = norm(parsedSub?.billing_cadence) || \"unknown\";\n  cycle_action = \"insert\";\n  cycle_create = {\n    subscription_id: null,\n    start_at: pLast.toISOString(),\n    end_at: pNext.toISOString(),\n    cycle_type: cycleType,\n    billing_cadence: parsedSub?.billing_cadence ?? null,\n    amount: round2(safeNum(parsedSub?.amount)),\n    currency: parsedSub?.currency ?? null,\n    notes: parsedSub?.notes ? String(parsedSub.notes).slice(0, 500) : null,\n  };\n}\n\nlet decision;\n\nif (matched) {\n  const existing = top.sub;\n  const policy = buildUpdatePolicy(existing, parsedSub, docDate);\n\n  decision = {\n    action: policy.update ? \"update\" : \"skip\",\n    matched_subscription_id: existing.id,\n    subscription_create: null,\n    subscription_update: policy.update,\n    cycle_action,\n    cycle_create,\n    debug: {\n      classification,\n      match_key: matchKey,\n      existing_count: existingSamePod.length,\n      matched: true,\n      threshold,\n      top_score: top.score,\n      top_reasons: top.reasons,\n    },\n    __diag_dsw: {\n      ...diagBase,\n      parsed_summary: {\n        pod_id: parsedSub?.pod_id ?? null,\n        display_name: parsedSub?.display_name ?? null,\n        plan_name: parsedSub?.plan_name ?? null,\n        provider_domain: parsedSub?.provider_domain ?? null,\n        billed_by_domain: parsedSub?.billed_by_domain ?? null,\n        billing_cadence: parsedSub?.billing_cadence ?? null,\n        amount: parsedSub?.amount ?? null,\n        currency: parsedSub?.currency ?? null,\n        next_renewal_at: parsedSub?.next_renewal_at ?? null,\n        last_billed_at: parsedSub?.last_billed_at ?? null,\n        last_observed_content_date: parsedSub?.last_observed_content_date ?? null,\n        classification,\n      },\n      parsed_match_key: matchKey,\n      parsed_pod_id: parsedPodId,\n      doc_date_used: docDate ?? null,\n      update_mode: policy.mode,\n      existing_last_observed_content_date: policy.existingLast,\n      incoming_doc_date: policy.incomingDoc,\n      existing_filtered_by_pod_len: existingSamePod.length,\n      candidate_count: scored.length,\n      top_candidates: scored.slice(0, 5).map(x => ({\n        score: x.score,\n        reasons: x.reasons,\n        sub: summarizeExisting(x.sub),\n      })),\n    },\n  };\n} else {\n  decision = {\n    action: \"insert\",\n    matched_subscription_id: null,\n    subscription_create: {\n      pod_id: parsedPodId,\n      display_name: parsedSub?.display_name ?? null,\n      plan_name: parsedSub?.plan_name ?? null,\n      provider_name: parsedSub?.provider_name ?? null,\n      provider_domain: parsedSub?.provider_domain ?? null,\n      billed_by_name: parsedSub?.billed_by_name ?? null,\n      billed_by_domain: parsedSub?.billed_by_domain ?? null,\n      status: parsedSub?.status ?? \"active\",\n      billing_cadence: parsedSub?.billing_cadence ?? null,\n      amount: round2(safeNum(parsedSub?.amount)),\n      currency: parsedSub?.currency ?? null,\n      next_renewal_at: parsedSub?.next_renewal_at ?? null,\n      last_billed_at: parsedSub?.last_billed_at ?? null,\n      cancel_by_at: parsedSub?.cancel_by_at ?? null,\n      trial_ends_at: parsedSub?.trial_ends_at ?? null,\n      source: parsedSub?.source ?? \"mailgun\",\n      confidence: safeNum(parsedSub?.confidence) ?? null,\n      notes: parsedSub?.notes ?? null,\n      reminder_enabled: parsedSub?.reminder_enabled ?? true,\n      reminder_days: parsedSub?.reminder_days ?? null,\n      notify_channels: parsedSub?.notify_channels ?? [\"email\"],\n\n      // NEW: provenance from mail content_date\n      last_observed_content_date: parsedSub?.last_observed_content_date ?? docDate ?? null,\n      last_source_receipt_id: parsedSub?.last_source_receipt_id ?? null,\n      last_source_type: parsedSub?.last_source_type ?? null,\n    },\n    subscription_update: null,\n    cycle_action,\n    cycle_create,\n    debug: {\n      classification,\n      match_key: matchKey,\n      existing_count: existingSamePod.length,\n      matched: false,\n      threshold,\n      top_score: top?.score ?? null,\n      top_reasons: top?.reasons ?? [],\n    },\n    __diag_dsw: {\n      ...diagBase,\n      parsed_summary: {\n        pod_id: parsedPodId,\n        display_name: parsedSub?.display_name ?? null,\n        plan_name: parsedSub?.plan_name ?? null,\n        provider_domain: parsedSub?.provider_domain ?? null,\n        billed_by_domain: parsedSub?.billed_by_domain ?? null,\n        billing_cadence: parsedSub?.billing_cadence ?? null,\n        amount: parsedSub?.amount ?? null,\n        currency: parsedSub?.currency ?? null,\n        next_renewal_at: parsedSub?.next_renewal_at ?? null,\n        last_billed_at: parsedSub?.last_billed_at ?? null,\n        last_observed_content_date: parsedSub?.last_observed_content_date ?? null,\n        classification,\n      },\n      parsed_match_key: matchKey,\n      parsed_pod_id: parsedPodId,\n      doc_date_used: docDate ?? null,\n      existing_filtered_by_pod_len: existingSamePod.length,\n      candidate_count: scored.length,\n      top_candidates: scored.slice(0, 5).map(x => ({\n        score: x.score,\n        reasons: x.reasons,\n        sub: summarizeExisting(x.sub),\n      })),\n    },\n  };\n}\n\nreturn [decision];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        -16
      ],
      "id": "00548e86-b761-4a00-8668-b3bfeb2d2bb5",
      "name": "Decide Subscription Write"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "insert",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d5737da2-4286-4f88-8b93-0996b1c9eb70"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "insert"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1a67a66d-4ea0-4c3d-8132-c9925cd556f1",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1744,
        -32
      ],
      "id": "93590ce8-c1db-4f70-99a7-d62ebf4a4e66",
      "name": "Route Action"
    },
    {
      "parameters": {
        "tableId": "subscriptions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "pod_id",
              "fieldValue": "={{ $json.subscription_create.pod_id ?? $('When Executed by Another Workflow').first().json.pod_id }}"
            },
            {
              "fieldId": "display_name",
              "fieldValue": "={{ $json.subscription_create.display_name }}"
            },
            {
              "fieldId": "billing_cadence",
              "fieldValue": "={{ $json.subscription_create.billing_cadence }}"
            },
            {
              "fieldId": "amount",
              "fieldValue": "={{ $json.subscription_create.amount }}"
            },
            {
              "fieldId": "currency",
              "fieldValue": "={{ $json.subscription_create.currency }}"
            },
            {
              "fieldId": "next_renewal_at",
              "fieldValue": "={{ $json.subscription_create.next_renewal_at }}"
            },
            {
              "fieldId": "cancel_by_at",
              "fieldValue": "={{ $json.subscription_create.cancel_by_at }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $json.subscription_create.source }}"
            },
            {
              "fieldId": "confidence",
              "fieldValue": "={{ $json.subscription_create.confidence }}"
            },
            {
              "fieldId": "notes",
              "fieldValue": "={{ $json.subscription_create.notes }}"
            },
            {
              "fieldId": "plan_name",
              "fieldValue": "={{ $json.subscription_create.plan_name }}"
            },
            {
              "fieldId": "provider_name",
              "fieldValue": "={{ $json.subscription_create.provider_name }}"
            },
            {
              "fieldId": "provider_domain",
              "fieldValue": "={{ $json.subscription_create.provider_domain }}"
            },
            {
              "fieldId": "billed_by_name",
              "fieldValue": "={{ $json.subscription_create.billed_by_name }}"
            },
            {
              "fieldId": "billed_by_domain",
              "fieldValue": "={{ $json.subscription_create.billed_by_domain }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.subscription_create.status }}"
            },
            {
              "fieldId": "last_billed_at",
              "fieldValue": "={{ $json.subscription_create.last_billed_at }}"
            },
            {
              "fieldId": "trial_ends_at",
              "fieldValue": "={{ $json.subscription_create.trial_ends_at }}"
            },
            {
              "fieldId": "reminder_enabled",
              "fieldValue": "={{ $json.subscription_create.reminder_enabled }}"
            },
            {
              "fieldId": "reminder_days",
              "fieldValue": "={{ $json.subscription_create.reminder_days }}"
            },
            {
              "fieldId": "notify_channels",
              "fieldValue": "={{ $json.subscription_create.notify_channels }}"
            },
            {
              "fieldId": "last_observed_content_date",
              "fieldValue": "={{ $('Fetch Mail Content').item.json.content_date }}"
            },
            {
              "fieldId": "last_source_receipt_id",
              "fieldValue": "={{ $('When Executed by Another Workflow').first().json.receipt_id }}"
            },
            {
              "fieldId": "last_source_type",
              "fieldValue": "=inbound_receipt"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1968,
        -224
      ],
      "id": "cc900d86-cbbb-4b8d-bc30-89061446e7ce",
      "name": "Insert Subscription",
      "credentials": {
        "supabaseApi": {
          "id": "JJwxg7Xid1eWbZvA",
          "name": "Supabase account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\nMax chars = 12k",
        "height": 144,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        624,
        48
      ],
      "id": "fb00cf51-3161-4dbf-830f-676742aae185",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1f98ede2-ee3d-41df-96e3-0b8a3aba1fe8",
              "leftValue": "={{ ['subscription','maybe_subscription'].includes($('Validate Extract').item.json.extract.classification) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        240
      ],
      "id": "669884e5-45f7-4928-ab77-59a61ce33d86",
      "name": "Doc Is Subscription"
    },
    {
      "parameters": {
        "jsCode": "/**\n * PostWriteResponse (for Mail Parser)\n * ----------------------------------\n * This Code node is wired to receive:\n *  - success output from \"Insert Subscription\" (Supabase create row), OR\n *  - success output from \"HTTP Request\" (PATCH), OR\n *  - (optionally) the fallback/skip branch from the Switch\n *\n * It returns ONE unified payload back to the caller (Adapter), including:\n *  - inbound_receipt_patch: fields the Adapter should PATCH onto inbound_receipts\n *  - parser_run_patch: fields the Adapter should PATCH onto parser_runs\n *  - decision + resolved_subscription_id\n *\n * Assumptions:\n *  - DSW node name: \"Decide Subscription Write\"\n *  - Mail row node name: \"Fetch Mail Content\"\n *  - Validate node name: \"Validate Extract\" (optional; used for suggested status)\n */\n\nfunction first(arr) {\n  return Array.isArray(arr) && arr.length ? arr[0] : null;\n}\n\nfunction pick(...vals) {\n  for (const v of vals) if (v !== null && v !== undefined && v !== \"\") return v;\n  return null;\n}\n\nfunction isObj(x) {\n  return x && typeof x === \"object\" && !Array.isArray(x);\n}\n\nfunction nowIso() {\n  return new Date().toISOString();\n}\n\n// Try to extract a created/updated subscription id from a variety of node outputs\nfunction extractSubIdFromWriteNodeJson(j) {\n  if (!j) return null;\n\n  // Common shapes:\n  // - Supabase create: { id: \"uuid\", ... }\n  if (typeof j.id === \"string\") return j.id;\n\n  // - Supabase create sometimes returns { data: [{ id }], ... }\n  if (Array.isArray(j.data) && j.data[0]?.id) return j.data[0].id;\n\n  // - HTTP Request might return the updated row (if \"Return full response\" or API returns body)\n  if (isObj(j.body)) {\n    if (typeof j.body.id === \"string\") return j.body.id;\n    if (Array.isArray(j.body) && j.body[0]?.id) return j.body[0].id;\n  }\n\n  // - HTTP Request might return { data: {...} }\n  if (isObj(j.data) && typeof j.data.id === \"string\") return j.data.id;\n  if (Array.isArray(j.data) && j.data[0]?.id) return j.data[0].id;\n\n  return null;\n}\n\n// Derive a compact write_reason string\nfunction buildWriteReason(dsw) {\n  const action = dsw?.action ?? \"unknown\";\n  const mode = dsw?.__diag_dsw?.update_mode ?? null;\n\n  if (action === \"insert\") return \"new subscription inserted\";\n  if (action === \"update\") return mode ? `existing subscription updated (${mode})` : \"existing subscription updated\";\n  if (action === \"skip\") {\n    if (dsw?.debug?.matched) return mode ? `matched existing; no fields to update (${mode})` : \"matched existing; no fields to update\";\n    return \"no write performed\";\n  }\n  return \"no write performed\";\n}\n\n// Decide parser_run status suggestion\nfunction deriveParserRunStatus(dsw, validateExtractJson) {\n  // Prefer explicit suggestion if present\n  const suggested = validateExtractJson?.parser_run_status_suggested;\n  if (suggested) return suggested;\n\n  // Otherwise infer\n  const extractValid = dsw?.__diag_dsw?.validate_extract_valid;\n  if (extractValid === false) return \"error\";\n\n  const classification = dsw?.debug?.classification ?? null;\n\n  // If you only run this workflow for subscription-like content, most non-errors are success/partial/no_signal.\n  if (!classification) return \"partial\";\n\n  if (classification === \"spam\") return \"skipped\";\n  if (classification === \"not_subscription\") return \"no_signal\";\n  if (classification === \"maybe_subscription\") return \"partial\";\n\n  // classification === \"subscription\"\n  return \"success\";\n}\n\nfunction deriveInboundReceiptParserStatus(parserRunStatus) {\n  // Keep the same vocabulary to avoid extra mapping logic in Adapter\n  return parserRunStatus || \"partial\";\n}\n\n// ------------------------------- main ---------------------------------\n\nconst inputItem = first($input.all());\nconst writeNodeJson = inputItem?.json ?? {};\n\n// Pull DSW + Mail Content + Validate Extract (if available)\nlet dsw = null;\ntry { dsw = first($items(\"Decide Subscription Write\"))?.json ?? null; } catch (_) {}\nlet mail = null;\ntry { mail = first($items(\"Fetch Mail Content\"))?.json ?? null; } catch (_) {}\nlet validate = null;\ntry { validate = first($items(\"Validate Extract\"))?.json ?? null; } catch (_) {}\n\n// Core decision fields\nconst action = dsw?.action ?? \"skip\";\nconst matchedId = dsw?.matched_subscription_id ?? null;\n\n// Determine resolved subscription id\nconst createdOrReturnedId = extractSubIdFromWriteNodeJson(writeNodeJson);\nconst resolvedSubscriptionId = pick(\n  // Insert often returns a new id\n  createdOrReturnedId,\n  // Update often won't return a row; prefer the matched id\n  matchedId\n);\n\n// Dates\nconst contentDateUsed = pick(\n  dsw?.__diag_dsw?.doc_date_used,\n  mail?.content_date,\n  mail?.received_at\n);\n\n// Statuses\nconst parserRunStatus = deriveParserRunStatus(dsw, validate);\nconst inboundReceiptStatus = deriveInboundReceiptParserStatus(parserRunStatus);\n\n// Reason strings\nconst writeReason = buildWriteReason(dsw);\n\n// Useful debug bits\nconst debug = {\n  action,\n  update_mode: dsw?.__diag_dsw?.update_mode ?? null,\n  classification: dsw?.debug?.classification ?? null,\n  top_score: dsw?.debug?.top_score ?? null,\n  matched_subscription_id: matchedId,\n  resolved_subscription_id: resolvedSubscriptionId,\n  content_date_used: contentDateUsed,\n};\n\n// What Adapter should PATCH onto inbound_receipts\nconst inbound_receipt_patch = {\n  // lifecycle\n  parser_status: inboundReceiptStatus,\n  processed_at: nowIso(),\n\n  // enrichment\n  content_date: contentDateUsed,\n  resolved_subscription_id: resolvedSubscriptionId,\n  write_decision: action,\n  write_reason: writeReason,\n\n  // optional error fields (left null on success)\n  error_code: null,\n  error_detail: null,\n\n  // optional: link to parser_runs (Adapter likely owns this)\n  // last_parser_run_id: mail?.last_parser_run_id ?? null,\n};\n\n// What Adapter should PATCH onto parser_runs\nconst parser_run_patch = {\n  status: parserRunStatus,                         // ['success','partial','no_signal','error','skipped']\n  classification: dsw?.debug?.classification ?? null, // ['subscription','maybe_subscription','not_subscription','spam']\n  confidence: pick(validate?.extract?.confidence, validate?.confidence, dsw?.__diag_dsw?.parsed_summary?.confidence, null),\n\n  // optional enrichment fields (keep lightweight; you can expand later)\n  matched_subscription_id: matchedId,\n  resolved_subscription_id: resolvedSubscriptionId,\n  write_decision: action,\n  write_reason: writeReason,\n\n  // optional trace/debug (you can store some or all in jsonb columns if you have them)\n  debug,\n};\n\n// Final output back to Adapter\nreturn [\n  {\n    json: {\n      ok: true,\n      action,\n      resolved_subscription_id: resolvedSubscriptionId,\n      matched_subscription_id: matchedId,\n      content_date_used: contentDateUsed,\n\n      inbound_receipt_id: mail?.id ?? null,\n      pod_id: mail?.pod_id ?? dsw?.subscription_update?.pod_id ?? dsw?.subscription_create?.pod_id ?? null,\n\n      inbound_receipt_patch,\n      parser_run_patch,\n\n      // keep the original DSW debug attached for troubleshooting upstream\n      __diag_dsw: dsw?.__diag_dsw ?? null,\n      debug,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        -16
      ],
      "id": "356d9046-bb10-4127-bf16-38b6de93b810",
      "name": "Prep Post-Write Response"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ \"https://vjhlzownjvkasbtwrqvz.supabase.co/rest/v1/subscriptions?id=eq.\" + $json.matched_subscription_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.subscription_update ?? {} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1968,
        208
      ],
      "id": "290651d4-c51b-4c5f-83db-9d86e59c2be3",
      "name": "Patch Subscription",
      "credentials": {
        "supabaseApi": {
          "id": "JJwxg7Xid1eWbZvA",
          "name": "Supabase account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ \"https://vjhlzownjvkasbtwrqvz.supabase.co/rest/v1/parser_runs?id=eq.\" + $('Log Run').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.parser_run_patch ?? {} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2416,
        -16
      ],
      "id": "a5d75818-9eeb-45b5-8c32-3261ceea3efd",
      "name": "Patch Parser Run Log",
      "credentials": {
        "supabaseApi": {
          "id": "JJwxg7Xid1eWbZvA",
          "name": "Supabase account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "/**\n * PostWriteFailureResponse (for Mail Parser)\n * -----------------------------------------\n * Wire BOTH failure branches (Insert fail + PATCH fail) into this Code node.\n *\n * This produces ONE unified failure payload back to the Adapter, including:\n *  - inbound_receipt_patch: set parser_status + error fields\n *  - parser_run_patch: set status='error' + error details\n *\n * Assumptions:\n *  - DSW node name: \"Decide Subscription Write\"\n *  - Mail row node name: \"Fetch Mail Content\"\n */\n\nfunction first(arr) {\n  return Array.isArray(arr) && arr.length ? arr[0] : null;\n}\n\nfunction pick(...vals) {\n  for (const v of vals) if (v !== null && v !== undefined && v !== \"\") return v;\n  return null;\n}\n\nfunction nowIso() {\n  return new Date().toISOString();\n}\n\nfunction stringifyError(e) {\n  if (!e) return null;\n  if (typeof e === \"string\") return e;\n  if (e.message) return String(e.message);\n  try {\n    return JSON.stringify(e);\n  } catch {\n    return String(e);\n  }\n}\n\nfunction extractErrorFromInputJson(j) {\n  // n8n error shapes vary; try a few common ones\n  return {\n    errorMessage: pick(j?.errorMessage, j?.message, j?.error?.message, j?.cause?.message, null),\n    errorName: pick(j?.errorName, j?.name, j?.error?.name, null),\n    errorCode: pick(j?.errorCode, j?.code, j?.error?.code, null),\n    errorDetails: j?.errorDetails ?? j?.error ?? null,\n    n8nDetails: j?.n8nDetails ?? null,\n  };\n}\n\n// ------------------------------- main ---------------------------------\n\n// Merge node will output 1+ items depending on how you configured it.\n// We want the \"best\" error: prefer one with errorMessage present.\nconst inputs = $input.all().map(i => i?.json ?? {});\nlet best = inputs.find(j => j?.errorMessage || j?.message || j?.error) ?? (inputs[0] ?? {});\n\n// Pull DSW + Mail Content context for enrichment\nlet dsw = null;\ntry { dsw = first($items(\"Decide Subscription Write\"))?.json ?? null; } catch (_) {}\nlet mail = null;\ntry { mail = first($items(\"Fetch Mail Content\"))?.json ?? null; } catch (_) {}\n\nconst action = dsw?.action ?? \"unknown\";\nconst matchedId = dsw?.matched_subscription_id ?? null;\n\nconst err = extractErrorFromInputJson(best);\nconst errorMessage = pick(err.errorMessage, \"Write failed\");\nconst errorCode = pick(err.errorCode, err.errorName, \"write_failed\");\n\n// Keep error_detail bounded (Supabase column is text; keep it short-ish)\nconst errorDetailObj = {\n  errorMessage,\n  errorCode,\n  errorName: err.errorName ?? null,\n  action,\n  matched_subscription_id: matchedId,\n  node_hint: best?.node ?? best?.nodeName ?? null,\n  // Keep a light trace; remove if too noisy\n  n8nDetails: err.n8nDetails ? {\n    n8nVersion: err.n8nDetails?.n8nVersion ?? null,\n    stackTrace: err.n8nDetails?.stackTrace?.slice?.(0, 6) ?? null,\n  } : null,\n};\n\nlet errorDetail;\ntry {\n  errorDetail = JSON.stringify(errorDetailObj);\n} catch (e) {\n  errorDetail = stringifyError(errorDetailObj) ?? stringifyError(e) ?? \"write_failed\";\n}\n\n// What Adapter should PATCH onto inbound_receipts on failure\nconst inbound_receipt_patch = {\n  parser_status: \"error\",\n  processed_at: nowIso(),\n  error_code: errorCode,\n  error_detail: errorDetail,\n\n  // Helpful partial enrichment (safe even on failure)\n  content_date: pick(dsw?.__diag_dsw?.doc_date_used, mail?.content_date, mail?.received_at, null),\n  resolved_subscription_id: matchedId, // best we can do on update failure\n  write_decision: action,\n  write_reason: \"write failed\",\n};\n\n// What Adapter should PATCH onto parser_runs on failure\nconst parser_run_patch = {\n  status: \"error\",\n  classification: dsw?.debug?.classification ?? null,\n  confidence: null,\n\n  matched_subscription_id: matchedId,\n  resolved_subscription_id: matchedId,\n  write_decision: action,\n  write_reason: \"write failed\",\n\n  error_code: errorCode,\n  error_detail: errorDetail,\n};\n\nreturn [\n  {\n    json: {\n      ok: false,\n      action,\n      inbound_receipt_id: mail?.id ?? null,\n      pod_id: mail?.pod_id ?? null,\n      matched_subscription_id: matchedId,\n      resolved_subscription_id: matchedId,\n\n      error_code: errorCode,\n      error_message: errorMessage,\n      error_detail: errorDetail,\n\n      inbound_receipt_patch,\n      parser_run_patch,\n\n      // preserve upstream diagnostics for debugging\n      __diag_dsw: dsw?.__diag_dsw ?? null,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        208
      ],
      "id": "b0143959-f841-45ee-aa00-194d1b4b5af3",
      "name": "Prep Failed Write Response"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "receipt_id": "508effad-bcc3-4e94-9b7d-45fe2f4d0833",
          "pod_id": "8f1e7a93-0b57-472b-920f-6b60a2332261"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Fetch Mail Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Mail Content": {
      "main": [
        [
          {
            "node": "Already Parsed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Parsed": {
      "main": [
        [],
        [
          {
            "node": "Normalize Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Text": {
      "main": [
        [
          {
            "node": "Extract Subscription Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Subscription Info",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Subscription Info": {
      "main": [
        [
          {
            "node": "Validate Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Extract": {
      "main": [
        [
          {
            "node": "Log Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Run": {
      "main": [
        [
          {
            "node": "Doc Is Subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pod Subscriptions": {
      "main": [
        [
          {
            "node": "Decide Subscription Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide Subscription Write": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Insert Subscription",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Patch Subscription",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Post-Write Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Subscription": {
      "main": [
        [
          {
            "node": "Prep Post-Write Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Failed Write Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Doc Is Subscription": {
      "main": [
        [
          {
            "node": "Fetch Pod Subscriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Post-Write Response": {
      "main": [
        [
          {
            "node": "Patch Parser Run Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patch Subscription": {
      "main": [
        [
          {
            "node": "Prep Post-Write Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Failed Write Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Failed Write Response": {
      "main": [
        [
          {
            "node": "Patch Parser Run Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "de6197c6-3862-4f02-96c2-79701938d353",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bf1f6e4a65dec1a0b105465f8afbfaff4bdfdf77ab7e8d6d274fc28a6c186a1a"
  },
  "id": "c6RH29SybeKJC7cT",
  "tags": []
}